<style>
  #calendar {
    max-width: 900px;   /* set calendar width */
    margin: 0 auto;     /* center it */
    height: 700px;      /* set calendar height */
  }
  .fc-event-title {
  text-align: left;
}
</style>
{% extends "base.html" %}

{% block body %}
<div class="container mt-4">
  <div id="calendar"></div>
  <div id="todoList" class="mt-4"></div> <!-- where clicked date todos will show -->
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
  var calendarEl = document.getElementById('calendar');
  var calendar = new FullCalendar.Calendar(calendarEl, {
    initialView: 'dayGridMonth',
    events: '/events',
    
    eventContent:function(info){
      let title=info.event.title;
      if(info.event.extendedProps.completed){
     
        return { html: '<span style="text-decoration: line-through; color: white;font-size:1rem;background-color:green;">' + title + '</span>' };
      } else {
        return { html: '<span>' + title + '</span>' }; 
      }
    },
    dateClick: function(info) {
      // fetch todos for clicked date
      fetch(`/todos_by_date/${info.dateStr}`)
        .then(response => response.json())
        .then(data => {
          let container = document.getElementById("todoList");
          container.innerHTML = ""; // clear old
          if (data.length === 0) {
            container.innerHTML = `<p>No todos for ${info.dateStr}</p>`;
          } else {
            let html = `<h4>Todos for ${info.dateStr}</h4><ul class="list-group">`;
            data.forEach(t => {
              let title=t.title;
              if(t.completed){
                title=`<span style="text-decoration: line-through;color:white;font-size:1.2rm;background-color:green;">${t.title}</span>`;
              }
              html += `<li class="list-group-item">
                         <strong>${t.title}</strong> (${t.from_time} - ${t.to_time})<br>
                         ${t.content}
                       </li>`;
            });
            html += "</ul>";
            container.innerHTML = html;
          }
        });
    }
  });
  calendar.render();
});
</script>
{% endblock %}
