<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>My Flask App</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
  {% extends "base.html"%}

  {% block body %}

  <div class="container mt-5">
    <h1>Add To Do</h1>
    <form action="/" method="POST">
      <div class="mb-3">
        <label for="title" class="form-label">Add Title</label>
        <input type="text" class="form-control" id="title" name="title" required />
      </div>
      <div class="mb-3">
        <label for="content" class="form-label">Todo Description</label>
        <input type="text" class="form-control" id="content" name="content" required />
      </div>
      <div class="mb-3">
        <label for="content" class="form-label">From(Time)</label>
        <input type="time" class="form-control" id="from_time" name="from_time" required />
      </div>
      <div class="mb-3">
        <label for="content" class="form-label">Todo Description</label>
        <input type="time" class="form-control" id="to_time" name="to_time" required />
      </div>
      <div class="mb-3">
        <label for="date_created" class="form-label">Date to complete the task</label>
        
        <input type="date" id="date_created" name="date_created"
       value="{{ datetime.utcnow().strftime('%Y-%m-%d') }}">

      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>

  <div class="container mt-5">
    {% if allTodo|length == 0 %}
      <p>No record found</p>
    {% else %}
      <h1>My To-Do</h1>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Completed
            <th scope="col">SNo</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Date</th>
            <th scope="col">From(time)</th>
            <th scope="col">To(Time)</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for todo in allTodo %}
          <tr>
            <td>
              <form action="/complete/{{todo.sno}}" method="post">
                <input type="checkbox" name="complete" onchange="this.form.submit()"
                {% if todo.completed%}checked{%endif%}>
              </form>
            </td>

            <th scope="row">{{ loop.index }}</th>
            <td>{{ todo.title }}</td>
            <td>{{ todo.content }}</td>
            <td>{{ todo.date_created }}</td>
            <td>{{ todo.from_time }}</td>
            <td>{{ todo.to_time}}</td>
            <td>
              <a href="/delete/{{ todo.sno }}" class="btn btn-outline-dark btn-sm mx-1">Delete</a>
              <a href="/update/{{ todo.sno }}" class="btn btn-outline-info btn-sm mx-1">Update</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
 {% endblock body %}
